@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Squada+One&display=swap");

.navbarStyle {
  background-color: #ff6701;
}

.registration {
    background-image: url(assets/register-bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
}

.reg-form {
    background-color: #FFC288;
    padding: 30px;
}

.regform-content {
    border: 5px solid white;
    border-radius: 50px;
    margin: 0px 20px;
    padding: 0px 50px;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #FF6701 !important;
    border-color: white !important;
    color: white !important
}

.btn-outline-primary {
    color: #FF6701 !important;
    /* background-color: #7cc !important; */
    border-color: #FF6701 !important;
    border-radius: 20px !important;
}

.btn {
    margin: 50px;
    padding: 20px !important;
}

.header {
    margin-bottom: 100px;
}
/* border-collapse: separate;  */

.icon {
    height: 18%;
    width: 18%;
    position: absolute; 
    top: -30px; 
    left: 100px; 
    background-color: #FFC288;
    background-size:cover;
    background-size: 100;
}

.img-fluid {
    /* max-width: 100%; */
    padding: 0px 0px;
}
.textarea {
    resize: none;
    /* min-height: 20px; */
 }

.register-heading {
    position: absolute; 
    top: 100px; 
    left: 270px;
    font: bold 10px !important; 
    background-color:black;
    background: #FFC288;
    padding-right: 15px;
    padding-left: 20px;
}

 /* .icon {
    position: absolute; 
    top: 300px; 
    left: 50px; 
    width: 100%; 
 } */
 
/* h1 span { 
    font: bold 100px !important; 
    letter-spacing: 1px;  
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    padding: 10px; 
 } */
 
.containerStyle {
  padding: 0;
}

.navigationStyle {
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.navbarCollapseStyle {
  /* background-color: red; */
  justify-content: flex-end;
}

.brandStyle {
  color: white;
  padding: 0;
  margin: 0;
  width: 25%;
  text-align: center;
  font-size: 1.65em;
  font-weight: bold;
  font-family: "Squada One";
}
.brandStyle span {
  color: white;
  letter-spacing: 7px;
}

.navElementStyle {
  text-align: center;
  width: 70%;
  /* border: solid 1px black; */
}

.navElementStyle span {
  font-family: "Roboto";
  font-weight: bold;
  color: white;
}

.navElementStyle:hover {
  text-align: center;
  /* width: 100%; */
  border-top: solid white 3px;
  padding-bottom: 0px;
  transition: 150ms;
  /* border: solid 1px black; */
}

.emphasizedNav {
  text-align: center;
  width: 70%;
  background-color: white;
  border-radius: 3em;
  font-weight: bold;
}

.emphasizedNav {
  border: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  color: #ff6701;
}

.emphasizedNav:hover {
  text-align: center;
  width: 70%;
  background-color: #ff6701;
  border: 3px solid white;
  border-radius: 3em;
  color: white;
}

.label-size-restrict {
  min-width: 180px;
}

.additional-text {
  text-align: center;
}