@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Squada+One&display=swap');

.squada-one {
    font-family: "Squada One";
}

.roboto {
    font-family: "Roboto";
}

#nav {
    background-color: #ff6701;
}