@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Squada+One&display=swap");

.navbarStyle {
  background-color: #ff6701;
}

.containerStyle {
  padding: 0;
}

.navigationStyle {
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.navbarCollapseStyle {
  /* background-color: red; */
  justify-content: flex-end;
}

.brandStyle {
  color: white;
  padding: 0;
  margin: 0;
  width: 25%;
  text-align: center;
  font-size: 1.65em;
  font-weight: bold;
  font-family: "Squada One";
}
.brandStyle span {
  color: white;
  letter-spacing: 7px;
}

.navElementStyle {
  text-align: center;
  width: 70%;
  /* border: solid 1px black; */
}

.navElementStyle span {
  font-family: "Roboto";
  font-weight: bold;
  color: white;
}

.navElementStyle:hover {
  text-align: center;
  /* width: 100%; */
  border-top: solid white 3px;
  padding-bottom: 0px;
  transition: 150ms;
  /* border: solid 1px black; */
}

.emphasizedNav {
  text-align: center;
  width: 70%;
  background-color: white;
  border-radius: 3em;
  font-weight: bold;
}

.emphasizedNav {
  border: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  color: #ff6701;
}

.emphasizedNav:hover {
  text-align: center;
  width: 70%;
  background-color: #ff6701;
  border: 3px solid white;
  border-radius: 3em;
  color: white;
}

.aboutSectionTall {
  display: flex;
  flex-direction: column;
  height: 30em;
  background-color: blue;
  border: solid black 1px;
  justify-content: space-evenly;
  align-items: center;
}

.aboutSectionSmall {
  display: flex;
  flex-direction: column;
  height: 14em;
  background-color: blue;
  border: solid black 1px;
  justify-content: space-evenly;
  align-items: center;
}

.colNoPad {
  padding: 0;
}

.textAlignCenter {
  text-align: center;
}

.aboutHead {
  font-size: 4.4em;
  font-family: "Squada One";
}

.aboutSub {
  font-size: 1.6em;
  font-family: "Roboto";
}

.fullImageInParent {
  width: 100%;
  height: 100%;
}

.aboutSemiHead {
  font-size: 1.9em;
  font-family: "Roboto";
}

.aboutFooter {
  background-color: teal;
}
